@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

.apresentacao{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    margin-top: 10%;
}

.signo-titulo{
    font-size: 45px;
}

.signo-img{
    width: 250px;
    height: 250px;
    background-color: transparent;
}

.dot-mascara{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    background-color: aqua;
    border-radius: 50%;
}

.home-page{
    font-family: 'Roboto', sans-serif;
    width: 25%;
    height: 30px;
    border: 15px, 15px;
    border-color: aqua;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}






